{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create new entry
{% endblock %}

{% block body %}
    {% if flag %}
        <div class="alert alert-warning" role="alert">
            Entry with this title already exists, but it will be replaced!
        </div>
    {% endif %}
    <h2>
        Create new entry
    </h2>
    <form action = "{% url 'create' %}" method = "post">
        {% csrf_token %}
        {{ create_form }}
        <input type="submit" value = "Create">
    </form>
{% endblock %}